body {
    font-family: sans-serif;
    margin: auto;
    max-width: 1280px;
    background-color: #4e6bdf;
}

.navbar {
    background-color: #313236;
    border-radius: 2px;
    max-width: 800px;
}

.navbar a {
    color: #aaa;
    display: inline-block;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
}

.navbar a:hover {
    color: #ffffff;
}

h6 {
    font-weight: bold;
    color: brown;
}

h6 {
    font-size: 2em;
    font-weight: bold;
    color: brown;
}

.p{
  font-size: 1em;
  color: greenyellow;
}

.btn {
    color: black;
    background-color: white;
    border-color: yellowgreen;
    border-radius: 5px;
    outline: none;
}
h4 {
    font-size: 1.5em;
    color: crimson;
}
}
    border-right: 2px solid;
    border-left: 2px solid;
    border-top: 2px solid;
.input__cursos:hover{
    border-bottom: 2px solid;

    margin: 20px;
}
    transition: all 0.5s ease;
    -moz-transition: ease 0.5s;
    background-color: transparent;
    -webkit-animation: ease 0.5s;
    outline: none;
    border-right: 0px;
    padding: 5px;
    border-left: 0px;
    border-bottom: 2px solid;
    height: 20px;
.input__cursos{
    width: 200px;
    border-top: 0px;